/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
  html{
    font-family: "Poppins", sans-serif;
  }
  ul{
    list-style: none;
  }
  .header_inner{
    padding-top: 1.67vw;
    padding-bottom: 1.67vw;
    max-width: 83.33vw;
    /* height: 90px;     */
    display: flex;
    justify-content: space-around;
    align-content: center;
    
    
    margin: 0 auto;
  }
  .header_menu_list_item{
    color: white;
    font-size: 1.04vw;
    /* height: 20px; */
    font-weight: 400;
  }
  .header_menu_list{
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    gap: 2.22vw;
  }
  .header{
    background-color: black;
  }
  .header_menu{
    gap: 2.15vw;
    display: flex;
  justify-content: space-between;
  }
  .logo_img{
    width: 8.89vw;
  }
  .header_menu_list_button{
  
  width: 10.76vw;
  height: 2.92vw;
  border-radius: 0.97vw;
  font-size: 1.11vw;
  }
  .main{
    margin: 0 auto;
  }
  .section_1_backimg{
    position: fixed;
    max-width: 1000vw;
    max-height: 77.9107725788901vh;
    /* height: 1200px; */
/* background-image: url("/images/IMAGE.png"); */
/* background-size: 100%; */
  }